body{
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    text-align: center;
    color: white;
    margin: -10px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.st-button{
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    background-color: rgb(224, 48, 48);
    text-decoration: none;
    border: none;
}
.second-heading{
    text-align: center;
    margin-top: 100px;
    
}
.flexabe-container{
    display: flex;
    margin-left: 400px;
    margin-top: 30px;
    
}
#one {
    
        margin-left: 10px;
        margin-top: 5px;
        padding: 15px;
        font-size: 20px;
        border-radius: 5px;
        background-color: whitesmoke;
        
}
.two{
        padding: 15px;
        margin-top: 5px;
        margin-left: 10px;
        background-color: rgb(206, 151, 151);
        border: 2px solid red;
        border-radius: 5px;
}
.mergin-donate{
    margin-left: 30%;
}
.donate-amount{
    margin-top: 40px;
    margin-left: 42%;
}
.donate-button{
    padding: 12px;
        margin-top: 15px;
        border-radius: 5px;
        background-color: rgb(224, 48, 48);
        text-align: none;
        position: absolute;
        margin-left: 44%;
        color: white;
        
}
.flexabele-donateplan{
    display: flex;
    padding: 50px;

}
.block1{
    
    background-color: aqua;
    margin-right: 10px;
    margin-left: 25px;
    border-radius: 5px;
    padding: 10px;
}
.block2{
    background-color: antiquewhite;
    margin-right: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 10px;

}
.block3{
    background-color: rgb(73, 133, 113);
    margin-right:25px ;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;


}
.contribute-bg{
    background-color: brown;
    padding: 12px;
    border-radius: 5px;
    margin-top: 5px;
}
.donation-blog{
    margin-left: 100px;
    
    padding: 50px;
    margin-top: -40px;
   
}
.donation-img{
    margin-right: 60px;
    margin-left: 5px;
}
.donation-blog-2{
    margin-right: 60px;
    margin-left: 5px;
    padding: 30px;
    margin-top: -40px;

}
.donation-img-2{
    margin-left: 150px;
    margin-right: -30px;

}